[submodule "getCurrentLocation"]
	path = getCurrentLocation
	url = git@gist.github.com:228509.git
[submodule "createElementFromString"]
	path = createElementFromString
	url = git@gist.github.com:3239.git
[submodule "dollarX"]
	path = dollarX
	url = git@gist.github.com:3238.git
[submodule "duration"]
	path = duration
	url = git@gist.github.com:46391.git
[submodule "createHTMLDocument"]
	path = createHTMLDocument
	url = git@gist.github.com:49453.git
[submodule "uneval"]
	path = uneval
	url = git@gist.github.com:242072.git
[submodule "keyString"]
	path = keyString
	url = git://gist.github.com/659145.git
[submodule "location"]
	path = location
	url = git://gist.github.com/670772.git
[submodule "EditDesign"]
	path = EditDesign
	url = git@gist.github.com:1185667.git
[submodule "daterelative"]
	path = daterelative
	url = git@gist.github.com:1213698.git
[submodule "Array_sortBy"]
	path = Array_sortBy
	url = git@gist.github.com:1597965.git
